@using SupermarketManagement.Domain.Models
@using SupermarketManagement.Application.UseCases.Products

@inject SellProductUseCase SellProductUseCase
@inject GetProductByIdUseCase GetProductByIdUseCase

@if (productToSell != null)
{
    @if (!string.IsNullOrWhiteSpace(_errorMessage))
    {
        <div class="alert alert-danger">@_errorMessage</div>
    }
    <EditForm Model="productToSell" OnValidSubmit="SellProduct">

        <div class="form-group">
            <label for="name">Product Name</label>
            <input class="form-control" id="name" type="text" readonly value="@productToSell.Name" />
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input class="form-control" id="price" type="text" readonly value="@(string.Format("{0:c}", productToSell.Price))" />
        </div>
        <div class="form-group">
            <label for="qty">Quantity</label>
            <InputNumber id="qty" @bind-Value="@productToSell.Quantity" class="form-control"></InputNumber>
        </div>
        <button type="submit" class="btn btn-primary">Sell</button>
    </EditForm>
}

@code {
    private Product productToSell;
    private string _errorMessage = string.Empty;

    [Parameter]
    public string CashierName { get; set; }

    [Parameter]
    public Product SelectedProduct { get; set; }

    [Parameter]
    public EventCallback<Product> OnProductSold { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (SelectedProduct != null)
        {
            productToSell = new Product
            {
                Id = SelectedProduct.Id,
                Name = SelectedProduct.Name,
                CategoryId = SelectedProduct.CategoryId,
                Price = SelectedProduct.Price,
                Quantity = 0
            };
        }
    }

    private void SellProduct()
    {
        if (string.IsNullOrWhiteSpace(CashierName))
        {
            _errorMessage = "The Cashier's name is missing.";
            return;
        }

        var product = GetProductByIdUseCase.Execute(productToSell.Id);
        if (productToSell.Quantity <= 0)
        {
            _errorMessage = "The quanity has to be greater than zero.";
        }
        else if (product.Quantity >= productToSell.Quantity)
        {
            OnProductSold.InvokeAsync(productToSell);
            _errorMessage = string.Empty;
            SellProductUseCase.Execute(CashierName, productToSell.Id, productToSell.Quantity);
        }
        else
        {
            _errorMessage = $"{product.Name} only has {product.Quantity} left. It is not enough.";
        }
    }
}